<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


</head>
<body>
<div class="container mt-3">
    <div class="card">


<form th:action="@{/home/save}" th:object="${mail}" method="post">
        <table class="table" style=" background-color: #00DBDE;
               background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);">
            <tr>
                <td>
                    Languages:
                </td>
                <td><select th:field="*{languages}" class="custom-select">
                    <option th:value="'English'" th:text="English"></option>
                    <option th:value="'Vietnamese'" th:text="Vietnamese"></option>
                    <option th:value="'Japanese'" th:text="Japanese"></option>
                    <option th:value="'Chinese'" th:text="Chinese"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    Page Size:
                </td>
                <td>
                    Show &nbsp; <select th:field="*{pageSize}" class="custom-select">
                    <option th:value="'5'" th:text="5"></option>
                    <option th:value="'10'" th:text="10"></option>
                    <option th:value="'15'" th:text="15"></option>
                    <option th:value="'25'" th:text="25"></option>
                    <option th:value="'50'" th:text="50"></option>
                    <option th:value="'100'" th:text="100"></option>
                </select>
                    email per page.
                </td>
            </tr>
            <tr>
                <td> Spams filter:
                </td>
                <td>
                    <input type="checkbox" th:field="*{spamsFilter}" value="Enable">Enable spams filter
                </td>
            </tr>
            <tr>
                <td> Signature:
                </td>
                <td>
                   <textarea rows="5" cols="30" th:field="*{signature}">
                   </textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Update"/>
                </td>
                <td>
                    <input type="reset" value="Cancel"/>
                </td>
            </tr>
        </table>
</form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>